@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* width of the entire scrollbar */
body::-webkit-scrollbar {
    width: 8px;   
}

/* color of the tracking area */
body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);    
}
/* color of the scroll thumb */
body::-webkit-scrollbar-thumb {
    width: 8px !important;
    background: linear-gradient(rgb(59, 130, 246), rgb(16, 185, 129), rgb(59, 130, 246), rgb(16, 185, 129), rgb(59, 130, 246), rgb(16, 185, 129), rgb(59, 130, 246));    
}
